* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

.site-container {
  max-width: 1920px;
  min-height: 500px;
  background-color: white;
}

.learn-more {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.learn-more a {
  text-decoration: none;
  color: white;
  background-color: #79ADDC;
  padding: 11px 22px;
  border-radius: 50px;
}

nav {
  width: 800px;
  height: 90px;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid white;
  z-index: 11;
}
nav .links {
  height: 42px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav .links a {
  text-decoration: none;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
nav .links a span {
  color: #79ADDC;
}

.home .hero {
  height: 500px;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
}
.home .hero .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.home .hero .container {
  max-width: 714px;
  height: 160px;
}
.home .hero .container h1 {
  font-size: 60px;
  font-family: sans-serif;
  color: white;
}
.home .hero .container em {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
.home .wrapper {
  width: 100%;
  margin-top: -50px;
  z-index: 1;
}
.home .wrapper .promo-holder {
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
}
.home .wrapper .promo-holder .holder {
  position: relative;
  width: 236px;
  height: 304px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home .wrapper .promo-holder .holder img {
  width: 100%;
  height: 100%;
}
.home .wrapper .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  color: white;
}
.home .wrapper .overlay .text {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home .wrapper .overlay .text h1 {
  font-size: 60px;
  margin-bottom: 11px;
}
.home .wrapper .overlay .text h2 {
  font-size: 30px;
  margin-bottom: -30px;
}
.home .booking {
  width: 800px;
  height: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .booking .container {
  width: 800px;
  max-width: 1920px;
}
.home .booking .container .title h1 {
  font-size: 60px;
  font-family: sans-serif;
}
.home .booking .container form {
  background-color: white;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: sans-serif;
}
.home .booking .container form input {
  height: 58px;
  border: 2px solid #79ADDC;
  padding: 10px;
  margin: 21px;
}
.home .booking .container form #name, .home .booking .container form #country {
  width: 344px;
}
.home .booking .container form #email, .home .booking .container form #hotel {
  width: 453px;
}
.home .booking .container form #check-in, .home .booking .container form #check-out {
  width: 698px;
}
.home .booking .container form select {
  height: 58px;
  border: 2px solid #79ADDC;
  padding: 10px;
  width: 103px;
  margin: 21px;
}
.home .booking .container form .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.home .booking .container form .learn-more a {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

footer {
  height: 100px;
  background-color: #79ADDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 200px;
}
footer .logo {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .copyright {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .sm {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}