footer {
    height: 100px;
    background-color: #79ADDC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;

    .logo {
        width: 800px;
        display: flex;
        justify-content: center;
    }

    .copyright {
        width: 800px;
        display: flex;
      justify-content: center;
    }

    .sm {
        width: 800px;
        display: flex;
        justify-content: center;
    }

}